<section class="content_wrapper">
    <div class="main_content">
        <h4 class="content_small_subtitle">Insomnia Tips</h4>
        <h2 class="content_title">Looking Through A Window</h2>
        <p class="content_text">
            Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
        </p>
        <a class="content_button" href="">Go</a>
    </div>
    <div class="related_content">
        <h2 class="related_content_title"> 3 reasons to purchase</h2>
        <div class="related_content_wrapper">
            <div class="cont_1 cont_common">
              <h3 class="cont_subtitle">Ut sed metus</h3>
              <p class="related_text">Lorem ipsum dolor sit amet, consecteur.</p>
            </div>
            <div class="cont_2 cont_common">
                <h3 class="cont_subtitle">Curabitur ac erat</h3>
                <p class="related_text">Mauris mattis urna quis lorem molestie.</p>
            </div>
            <div class="cont_3 cont_common">
                <h3 class="cont_subtitle">Morbi dictum</h3>
                <p class="related_text">Aliquam in dolor et dolor tincidunt.</p> 
            </div>
            <a href="" class="related_content_button">More reasons</a>           
        </div>
    </div>
      
</section>