<footer class="footer">
    <div class="footer_wrapper">
        <a href="" class="footer_button">
            <img class="arrow" src="../../assets/images/ico-arrow.svg" alt="go to page top">
        </a>
    </div>
    <nav class="footer_nav">
        <ul class="footer_menu">
            <li class="menu_link">articles</li>
            <li class="menu_link">books</li>
            <li class="menu_link">events</li>
            <li class="menu_link">reasons</li>
            <li class="menu_link">tips</li>
        </ul>
        <ul class="footer_social">
            <li class="social_link">twitter</li>
            <li class="social_link">instagram</li>
            <li class="social_link">mastodon.social</li>
        </ul>

        <p class="copy">© 2019</p>
        <p class="claim">we<span class="heart">❤</span>components</p>

    </nav>
</footer>
