.main_content {
    padding: 0 15px;
    @media all and (min-width: 768px) {
        padding: 0 39px;
    }
    @media all and (min-width: 1200px){
       padding: 0 275px;
    }

}
.content_small_subtitle {
    color: $color-lightblue;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 30px;
    margin-top: 30px;
    @media all and (min-width: 1200px){
        font-size: 16px;
        margin: 60px 0 0 0;
    }

}
.content_title {
    @include title-style();
    @media all and (min-width: 768px) {
        font-size: 26px;
        line-height: 45px;
    }
    @media all and (min-width: 1200px){
        font-size: 32px;
        margin: 0;
    }
}
.content_text {
    @include text-style();
    color: #4a4a4a;
    margin: 15px 0 30px 0;
    @media all and (min-width: 768px) {
        font-size: 20px;
        margin: 30px 0 30px 0;
    }
}
.content_button {
    display: inline-block;
    box-sizing: border-box;
    width: 76px;
    height: 45px;
    background-color: $color-white;
    border: 2px solid $color-orange;
    border-radius: 22.5px;
    margin-bottom: 45px;
    text-decoration: none;
    color: $color-orange;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 2.25;
    transition: background-color linear .3s;
    &:hover {
        background: $color-orange;
        color: $color-white;
    }
    @media all and (min-width: 768px) {
        width: 91px;
        margin-bottom: 60px;
    }
    @media all and (min-width: 1200px){
        width: 160px;
    }
}
.related_content {
    background-color: $color-superlightblue;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    @media all and (min-width: 768px) {
        padding: 0 39px;
    }
    @media all and (min-width: 1200px){
        padding: 0 85px;
    }
}
.related_content_title {
    margin-top: 0;
    padding-top: 30px;
    @include title-style();
    text-align: center;
    @media all and (min-width: 768px) {
        font-size: 26px;
        line-height: 45px;
        margin-bottom: 45px;
    }
    @media all and (min-width: 1200px){
        font-size: 32px;
        padding-top: 60px;
    }
}
.related_content_wrapper {
    box-sizing: border-box;
    margin: 0 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    @media all and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 27.7px;  
        margin:0;
    }
   @media all and (min-width: 1200px){            
        grid-gap: 26.2px;
    }
}
.cont_subtitle {
    @include subtitle-style();
    @media all and (min-width: 768px) {
        margin-top: 0;
    }
}
.related_text {
    @include text-style();
    text-align: center;
    @media all and (min-width: 768px) {
        font-size: 20px;
    }
}
.related_content_button {
    box-sizing: border-box;
    width: 184px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    background-color: $color-orange;
    border-radius: 22.5px;
    color: $color-white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 45px;
    font-weight: 500;
    margin-bottom: 60px;
    align-self: center;
    transition: background-color linear .3s;
    &:hover {
        background: $color-white;
        color: $color-orange;
        border: 2px solid $color-orange;
    }

    @media all and (min-width: 768px) {
        margin: 30px auto 60px;
        width: 210px;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    @media all and (min-width: 1200px){            
        width: 255px;
    }

}
.cont_common {
    margin-bottom: 45px;
    @media all and (min-width: 768px) {
        width: 212.3px;
        margin: 0 auto;
    }
}

@media all and (min-width: 768px) {
    .cont_1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .cont_2 {
        grid-column: 2/3;
        grid-row: 1/2;

    }
    .cont_3 {
        grid-column: 3/4;
        grid-row: 1/2;
    }
}

